@font-face {
  font-family: 'KadmosU';
  font-style: normal;
  src: url(https://raw.githubusercontent.com/eflaschuk/kadmosu/main/KadmosU.woff2) format('woff2');
}
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  src: url(https://fonts.gstatic.com/s/inconsolata/v21/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WR32lw.woff2) format('woff2');
}
body {
}

p {
  font-family:KadmosU, Inconsolata, Times New Roman;
  color:green;
}
